extends ../layout

block content
  .page-header
    h3 Editar mi cuenta

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Nombre de usuario
      .col-sm-4
        input.form-control(type='text', name='email', id='email', value='#{user.username}')
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Nombres
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.name}')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-magnet
          | Actualizar

  .page-header
    h3 Cambiar Contrase単a

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') Nueva Contrase単a
      .col-sm-4
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirmar Contrase単a
      .col-sm-4
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-keyboard-o
          | Cambiar contrase単a